@model Taskify.Models.Project
@{
   

    <head>
        
         <link rel="stylesheet" href="~/css/projects.css">
    </head>
}

<br />
<h2 class="text-center mt-5">Add a project</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "New", controllerName: "Projects", method: FormMethod.Post))
            {
                @Html.Label("Title", "Project Title") <!-- Aici numele de "Title" TREBUIE inlocuit-->
                <br />
                @Html.ValidationMessageFor(m => m.Title, null, new{@class = "text-danger"})
                @Html.TextBox("Title", null, new { @class = "form-control" })
                <br />
                
                
                @Html.Label("Description", "Project Description")
                
                @Html.TextArea("Description", null, new { @class = "form-control" })
                               
                /*@Html.ValidationSummary(false, "", new { @class = "textdanger" }) 
                */
                
                <button class="btn" type="submit">
                    Create
                </button>
            }
        </div>
    </div>
</div>