@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager




<h2 class="text-center mt-5">Users in this project:</h2>
<br />


@foreach (var user in ViewBag.Users)
{
    <div class="card">
         

        <div class="card-body">

            <h3 class="card-title alert-info py-3 px-3 rounded-2">@user.User.Email</h3>

            <div class="card-text">rol</div>
            
        </div>
       
    

    </div>

    <br />
    <br />
}

@if(_userManager.GetUserId(User) == ViewBag.Project.UserId){
        <h3>Search </h3>

     <form method="GET">
         <div class="input-group mb-3">
             <input type="text" class="form-control" 
                 placeholder="Search topics or keywords" name="search"
                 value="@ViewBag.SearchString">
             <button class="btn btn-outline-success"
                 type="submit">Search</button>
         </div>
    </form>


    @foreach (Taskify.Models.ApplicationUser user in ViewBag.AllUsers)
{
    <div class="card">
         

        <div class="card-body">

            <h3 class="card-title alert-info py-3 px-3 rounded-2">@user.Email</h3>

            <div class="card-text">rol</div>
            <form method="post" action="/Projects/Users/@ViewBag.Project.Id">
                <input type="hidden" name="UserId" value="@user.Id" />
                <input type="hidden" name="ProjectId" value="@ViewBag.Project.Id" />
                <button type="submit">Adauga</button>
            </form>
            
        </div>
       
    

    </div>

    <br />
    <br />
}

}